<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919561354804-ikrggh2rdq0u0s8umset88fkdtic54qt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919561354804-ikrggh2rdq0u0s8umset88fkdtic54qt</string>
	<key>API_KEY</key>
	<string>AIzaSyDrlREX-BSN4RuKgUBPeaFzZELUARoHTcc</string>
	<key>GCM_SENDER_ID</key>
	<string>919561354804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nasim.sa</string>
	<key>PROJECT_ID</key>
	<string>nasim-61069</string>
	<key>STORAGE_BUCKET</key>
	<string>nasim-61069.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919561354804:ios:48014564952bd90bdb5461</string>
</dict>
</plist>